[Unit]
Description=Memory Monitor for Java Processes
After=network.target

[Service]
Type=simple
User=anton
WorkingDirectory=/media/anton/Thousand4/EXAMPLESS/miniwan2
ExecStart=/media/anton/Thousand4/EXAMPLESS/miniwan2/memory_monitor.sh start
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
